---
- name: Install hardware monitoring tools on hardware machines (not vms) - EL9
  ansible.builtin.dnf:
    name: [ledmon, lsscsi, sasutils, sdparm, sg3_utils, smp_utils]
    state: present
    update_cache: false
  when: ( ansible_facts['distribution'] == 'AlmaLinux' and ansible_facts['distribution_major_version'] == '9' ) or ansible_facts['distribution'] == 'Fedora'

- name: Include pkg_niccli_task.yml
  ansible.builtin.include_tasks: pkg_niccli_task.yml

- name: Sync tools for system management
  ansible.builtin.copy:
    dest: /root/bin/
    src: "{{ playbook_dir }}/../{{ item }}"
    owner: root
    group: root
    mode: "0700"
    force: true
  with_items:
    - additions/broadcom_net/bnxtnvm
    - additions/broadcom_sas/sas2ircu
    - additions/broadcom_sas/sas3flash
    - additions/broadcom_sas/sas3ircu
    - additions/broadcom_sas/storcli
    - additions/broadcom_sas/storcli_lite
    - additions/broadcom_sas/storcliconf.ini
    - additions/broadcom_sas/storcli2
    - additions/broadcom_sas/storcli2Lite
    - additions/intel/epct64e
    - additions/seagate_seachest/bin/seachest_configure
    - additions/seagate_seachest/bin/seachest_powercontrol
    - additions/seagate_seachest/bin/seachest_lite
    - additions/seagate_seachest/bin/seachest_reservations
    - additions/seagate_seachest/bin/seachest_erase
    - additions/seagate_seachest/bin/seachest_format
    - additions/seagate_seachest/bin/seachest_basics
    - additions/seagate_seachest/bin/seachest_info
    - additions/seagate_seachest/bin/seachest_smart
    - additions/seagate_seachest/bin/seachest_firmware
    - additions/seagate_seachest/bin/seachest_generictests
    - additions/seagate_seachest/bin/seachest_nvme
    - additions/seagate_seachest/bin/seachest_security

- name: Install from pip the jc module
  ansible.builtin.pip:
    executable: pip3
    name:
      - sasutils
      - rich
    extra_args: --user
    state: present

- name: Sync storage tools
  ansible.builtin.copy:
    dest: /root/bin/
    src: "{{ playbook_dir }}/../additions/storage_cmds/{{ mdadm_scripts }}"
    owner: root
    group: root
    mode: '0700'
    force: true
  loop_control:
    loop_var: mdadm_scripts
  with_items:
    - md_readd_dev
    - md_rm_dev
    - md_check
    - md_check_stop
    - md_health
    - iostat_md
    - list_storage
    - smartctl_dump
    - smart_temp_report

- name: Sync md format tools
  ansible.builtin.copy:
    dest: /root/bin/md_mkformat/
    src: "{{ playbook_dir }}/../additions/storage_cmds/md_mkformat/{{ md_format_scripts }}"
    owner: root
    group: root
    mode: '0600'
    force: true
  loop_control:
    loop_var: md_format_scripts
  with_items:
    - create_md_array
    - format_md_component
    - format_mdraid
    - select_disk_range

- name: Add cron job for smart_temp_report
  ansible.builtin.copy:
    dest: "/etc/cron.d/smart_temp_report"
    force: true
    group: root
    owner: root
    mode: 0644
    content: |
        SHELL=/usr/bin/bash
        PATH=/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
        MAILTO=root
        */2 * * * * root /root/bin/smart_temp_report &> /tmp/smart_temp_report.log

