---
- name: Include repo_epel_task.yml
  ansible.builtin.include_tasks: repo_epel_task.yml

- name: Install HPC tools - EL9 or Fedora
  ansible.builtin.dnf:
    name:
      - cifs-utils.x86_64
      - smbldap-tools
      - nbtscan.x86_64
      - adcli.x86_64
      - msktutil.x86_64
      - samba.x86_64
      - samba-winexe.x86_64
      - samba-winbind.x86_64
      - samba-winbind-modules.x86_64
      - samba-winbind-krb5-locator.x86_64
      - samba-winbind-clients.x86_64
      - samba-vfs-iouring.x86_64
      - samba-usershares.noarch
      - samba-tools.x86_64
      - samba-pidl.noarch
      - samba-libs.x86_64
      - samba-ldb-ldap-modules.x86_64
      - samba-gpupdate.noarch
      - samba-dc-libs.x86_64
      - samba-dcerpc.x86_64
      - samba-common-tools.x86_64
      - samba-common.noarch
      - samba-common-libs.x86_64
      - samba-client.x86_64
      - samba-client-libs.x86_64
      - python3-samba.x86_64
      - python3-samba-dc.x86_64
    state: present
    update_cache: false
  when: ansible_facts['distribution'] == 'AlmaLinux' or ansible_facts['distribution'] == 'Fedora'
  tags: packages

