---
- name: Include pkg_yum-utils_task.yml
  ansible.builtin.include_tasks: pkg_yum-utils_task.yml

- name: UMD key import
  ansible.builtin.rpm_key:
    state: present
    key: https://repository.egi.eu/sw/production/umd/UMD-5-RPM-PGP-KEY

- name: UMD5 repo on EL9
  ansible.builtin.dnf:
    name: https://repository.egi.eu/sw/production/umd/5/al9/release/x86_64/umd-release-5.0.0-1.al9.alma.noarch.rpm
    state: present
  when: ansible_facts['distribution'] == 'AlmaLinux' and ansible_facts['distribution_major_version'] == '9'

- name: UMD-5-release - exclude packages
  community.general.ini_file:
    path: /etc/yum.repos.d/UMD-5.repo
    section: UMD-5-release
    option: exclude
    value: "*nordugrid-*,eos-*,htcondor-*,*cvmfs-*,xrootd-*,*gfal2*,davix*,srm*,globus-*"
    create: false
    no_extra_spaces: true

