{{ iptables_v6_custom_table_setup }}

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -i lo -j ACCEPT

# DEFAULT ACCEPTS
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# IPV6 PROTOCOL ESSENTIALS no source restriction, before INVALID drop
# NDP
-A INPUT -p ipv6-icmp --icmpv6-type neighbour-solicitation -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type neighbour-advertisement -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type router-solicitation -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type router-advertisement -j ACCEPT

# MLD
-A INPUT -p ipv6-icmp --icmpv6-type 130 -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type 131 -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type 132 -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type 143 -j ACCEPT

# PMTUD and diagnostics source 2001:b30:4210::/48 acceptable here since these are unicast error responses, not multicast
-A INPUT -p ipv6-icmp --icmpv6-type destination-unreachable -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type packet-too-big -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type time-exceeded -j ACCEPT
-A INPUT -p ipv6-icmp --icmpv6-type parameter-problem -j ACCEPT

# MALFORMED TCP explicit, more precise than INVALID
-A INPUT -p tcp --tcp-flags ALL NONE -j DROP
-A INPUT -p tcp --tcp-flags ALL ALL -j DROP
-A INPUT -p tcp --tcp-flags SYN,RST SYN,RST -j DROP
-A INPUT -p tcp --tcp-flags SYN,FIN SYN,FIN -j DROP

# INVALID DROP now safe, NDP/MLD already accepted above
-A INPUT -m conntrack --ctstate INVALID -j DROP

## WHITELISTING - first accept all what was specified to be accepted

# DEFAULT ACCEPT ALL LOCAL SSH - MANAGEMENT
-A INPUT -m tcp -p tcp -m multiport --dports 22,60000 -j ACCEPT --source 2001:b30:4210::/48

# ACCEPTS ALLOWED IPs && NETWORKS
-A INPUT -m set --match-set accept_net6 src -j ACCEPT
-A INPUT -m set --match-set accept_ip6  src -j ACCEPT

# ACCEPTS ALLOWED IPs && NETWORKS TO PORT
-A INPUT -m set --match-set accept_port_net6 src,dst -j ACCEPT
-A INPUT -m set --match-set accept_port_ip6  src,dst -j ACCEPT

## BLACKLISTING

# FAIL2BAN
-A INPUT -m set --match-set f2b-sshd6 src -j DROP

# BLACKLISTING REQUESTED
-A INPUT -m set --match-set blacklist_net6 src -j DROP
-A INPUT -m set --match-set blacklist_ip6  src -j DROP

# ACCEPT WORLDWIDE on PORTS
-A INPUT -m tcp -p tcp -m set --match-set accept_port_tcp dst -j ACCEPT
-A INPUT -m udp -p udp -m set --match-set accept_port_udp dst -j ACCEPT

# ACCEPT ALL ICMP
-A INPUT -p ipv6-icmp -j ACCEPT

{{ ip_v6_filter_custom_rule_after_ipsets }}

# DROP EVERYTHING ELSE
# Defaults are set above. Remove drop here so other systems can add rules under this point (like kubernetes)
COMMIT

