#!/usr/bin/bash

awk --file $(dirname $0)/customhelps.awk --source '{
setoption("acl NET_LOCAL src", "{{ frontier_allowed_networks }}")
setoption("cache_mem", "3072 MB")
setoptionparameter("cache_dir", 1, "ufs")
setoptionparameter("cache_dir", 2, "{{ frontier_cache }}")
setoptionparameter("cache_dir", 3, "80000")
setoptionparameter("cache_dir", 4, "32")
setoptionparameter("cache_dir", 5, "256")
setoption("cache_log", "{{ frontier_logs }}/cache.log")
setoptionparameter("access_log", 1, "{{ frontier_logs }}/access.log")
setoption("coredump_dir", "{{ frontier_logs }}")
setoption("logfile_rotate", "7")
print
}'

