- hosts: "{{ target | default('vmhosts') }}"
  gather_facts: False
  vars:
    chrony_base_ip: "priv10"

    profile: virtual-host
    tuned_daemon_mode: false

    mdraid_is_enabled: "yes"
    mdraid_check_type: "check"
    mdraid_check_devs: "\"\""
    mdraid_repair_devs: "\"\""
    mdraid_skip_devs: "\"\""
    mdraid_max_concurrent: ""
    mdraid_check_time_cron: "0 0 1 * *"
    mdraid_check_time_systemd: "*-*-01 00:00:00"

    iptables_v4_custom_table_setup: ""
    iptables_v6_custom_table_setup: ""
    ip_v4_filter_custom_rule_after_ipsets: ""
    ip_v6_filter_custom_rule_after_ipsets: ""

    ipset_tables:
      - accept_ip:
        - "10.10.10.120"
        - "10.10.10.181"
        - "10.10.11.241"
        - "10.10.11.243"
      - accept_ip6:
      - accept_net:
      - accept_net6:
      - accept_port_ip:
      - accept_port_ip6:
      - accept_port_net:
        - "85.120.46.0/24,9090"
        - "46.243.114.128/25,9090"
        - "10.10.10.8/22,9090"
        - "10.10.10.8/22,22"
      - accept_port_net6:
      - accept_port_tcp:
      - accept_port_udp:

  vars_files:
      - "{{ playbook_dir }}/../additions/ipset_blacklist/blacklist_iss.yml"
      - "{{ playbook_dir }}/../additions/sysctl_lists/sysctl_generic.yml"
      - "{{ playbook_dir }}/../additions/packages_sets/packages_vmhosts.yml"

  tasks:
  - ansible.builtin.include_tasks:
      file: "{{ task_item }}"
    loop_control:
      loop_var: task_item
    with_items:
      - "tasks/00basic_tools.yml"
      - "tasks/00basic_tools_hw.yml"
      - "tasks/pkg_utils_task.yml"
      - "tasks/00storage_tools.yml"
      - "tasks/mdraid_conf_task.yml"
      - "tasks/seatools_sync.yml"
      - "tasks/cfg_smartd_task.yml"
      - "tasks/pkg_kernelml_install_task.yml"
      - "tasks/pkg_drbd_task.yml"
      - "tasks/cfg_firewall_task.yml"
      - "tasks/cfg_chrony_task.yml"
      - "tasks/cfg_ssh_task.yml"
      - "tasks/cfg_lmsensors.yml"
      - "tasks/cfg_lldpd_task.yml"
      - "tasks/cfg_tuned_task.yml"
      - "tasks/cfg_gmond_misc.yml"
      - "tasks/tune_sysctl_task.yml"
      - "tasks/packages_task.yml"

